
<script type="text/javascript">  
   function onOk(){
		var result = {datatableUuid}.getSelectedItems2();
		setCookie("returnValue=", result);
	    messenger.targets['parent'].send(result);
	}
</script>
<br>
<div class="form-horizontal" role="form">
	<div class="form-body">
		<div class="form-group">			
			<div class="col-md-12">
				<div class="pull-right">					
					<button id="mySelectedItems" name="mySelectedItems" type="button" class="btn blue" onclick="onOk()">确定</button>
				</div>
			</div>			
		</div>
	</div>
</div>